[submodule "testing/bit_mcs_files"]
	path = testing/bit_mcs_files
	url = https://gitlab.cern.ch/SRS_firmware/bit_mcs_files
[submodule "bit_mcs_files"]
	path = bit_mcs_files
	url = https://gitlab.cern.ch/SRS_firmware/bit_mcs_files
